In [18]:
#Dependencies and Setup
import pandas as pd

In [19]:
#File to load 
data = "purchase_data.csv"

#Read purchase file and store into Panda dataframe 
data_df = pd.read_csv(data, encoding="ISO-8859-1")

#when to use ISO-8859-1 or utf-8? = need more research!

In [20]:
data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [27]:
#find out how many rows and column our data have and what type of data 
#each of our column has before performing our calculatio
data_df.shape

(780, 7)

In [28]:
#what data type each of our column has before performing our calculation
data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [ ]:
#Weather we need to use Map or not to format some columns
#data_df["Price"] = data_df["Price"].map("${}".format)
#data_df.head()

In [7]:
#Calculate the number of player in the DataFrame and display it
player_count = len(data_df["SN"].unique())
table1 = pd.DataFrame({"Total Players" : [player_count]})
table1

   Total Players
0            576

SyntaxError: invalid syntax (<ipython-input-8-78a932dd1699>, line 1)

In [ ]:
total = data_df["Price"].sum()
total

In [ ]:
unique = len(data_df["Item ID"].unique())
unique

In [ ]:
summary_table =pd.DataFrame

In [ ]:
gender = data_df.groupby(["Item Name"]).count()
gender

In [ ]:
purchase_count = data_df["Gender"].value_counts()

gender

In [10]:
# Age Demographics - using max and min function to find our range 
maxi = data_df["Age"].max()
mini = data_df["Age"].min()
maxi , mini

(45, 7)

In [12]:
bins = [0, 9, 14, 19, 24, 34, 29, 45]
label = ["<10", "10-14", "15-19", "20-24", "30-34", "35-29", "40+"]
data_df["ages"] = pd.cut(data_df["Age"], bins, labels=age_group)
data_df

ValueError: bins must increase monotonically.